<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dsi32g1.coshield19">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logogenrale"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logogenrale"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.dsi32g1.coshield19.covide19website" />
        <activity android:name="com.dsi32g1.coshield19.taketest" />
        <activity android:name="com.dsi32g1.coshield19.Profile" />
        <activity android:name="com.dsi32g1.coshield19.Home" />
        <activity android:name="com.dsi32g1.coshield19.Signup2" />
        <activity android:name="com.dsi32g1.coshield19.Login" />
        <activity android:name="com.dsi32g1.coshield19.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>